@charset "UTF-8";
/* ОБНУЛЕНИЕ */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ============================ */
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url(../fonts/Gilroy-Light.woff2), url(../fonts/Gilroy-Light.woff);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url(../fonts/Gilroy-Regular.woff2), url(../fonts/Gilroy-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url(../fonts/Gilroy-Medium.woff2), url(../fonts/Gilroy-Medium.woff);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url(../fonts/Gilroy-Semibold.woff2), url(../fonts/Gilroy-Semibold.woff);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url(../fonts/Gilroy-Bold.woff2), url(../fonts/Gilroy-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url(../fonts/Gilroy-Extrabold.woff2), url(../fonts/Gilroy-Extrabold.woff);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url(../fonts/Gilroy-Black.woff2), url(../fonts/Gilroy-Black.woff);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src: url(../fonts/ProximaNova-Bold.woff2), url(../fonts/ProximaNova-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}

.--container {
  max-width: 1600px;
  padding: 0 20px;
  margin: 0 auto;
}

.--ibg {
  position: relative;
}

.--ibg img {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.title {
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 1.15;
  color: #714a25;
  text-align: center;
}

.title span {
  color: #181940;
}

.link {
  display: inline-block;
  background: #003adc;
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 20px 30px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.link:hover {
  background: #181940;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.map {
  position: relative;
  -webkit-box-shadow: 10px 8px 39px #8883833f;
          box-shadow: 10px 8px 39px #8883833f;
}

.map iframe {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whatsapp__button {
  display: inline-block;
  background: url(../img/icons/whatsapp-logo.svg) no-repeat 24px center, #003adc;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 17.5px 24px 17.5px 70px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.whatsapp__button:not(:last-child) {
  margin: 0 22px 0 0;
}

.whatsapp__button:hover {
  background: url(../img/icons/whatsapp-logo.svg) no-repeat 24px center, #181940;
}

.whatsapp__link {
  color: #333;
  font-size: 1.25rem;
  font-weight: 600;
}

.hero {
  padding: 160px 0 240px 0;
  background: #eff2f9;
}

.hero__container {
  position: relative;
}

.hero__desc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  line-height: 1.2;
}

.hero__desc-list:not(:last-child) {
  margin: 0 0 42px 0;
}

.hero__desc-list li {
  position: relative;
}

.hero__desc-list li:not(:last-child) {
  margin: 0 20px 0 0;
}

.hero__desc-list li:not(:last-child)::after {
  content: "|";
  font-weight: 400;
  position: absolute;
  top: 0;
  right: -10px;
}

.hero__title {
  position: relative;
  z-index: 2;
  font-size: 7.1875rem;
  font-weight: 900;
  color: #714a25;
}

.hero__title span {
  color: #003adc;
}

.hero__title:not(:last-child) {
  margin: 0 0 70px 0;
}

.hero__subtitle {
  position: relative;
  z-index: 2;
  font-size: 1.6875rem;
  font-weight: 800;
  line-height: 1.2;
}

.hero__subtitle:not(:last-child) {
  margin: 0 0 27px 0;
}

.hero__list {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  max-width: 885px;
}

.hero__list-item {
  text-align: center;
  padding: 5px 14px;
  font-size: 1.6875rem;
  font-weight: 400;
  line-height: 1.2;
  background: #d8e0f7;
  border-radius: 10px;
  margin: 0 12px 12px 0;
}

.hero__image {
  position: absolute;
  right: -60px;
  top: 90px;
}

.request__title {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 700;
}

.request__title:not(:last-child) {
  margin: 0 0 27px 0;
}

.request__form {
  padding: 80px 80px;
  margin: -155px -80px 0 -80px;
  background: #fff;
  -webkit-box-shadow: 0 100px 200px rgba(0, 0, 0, 0.1);
          box-shadow: 0 100px 200px rgba(0, 0, 0, 0.1);
}

.request__input-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3] minmax(150px, 422px);
      grid-template-columns: repeat(3, 1fr) minmax(150px, 422px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.request__input-box:not(:last-child) {
  margin: 0 0 20px 0;
}

.request__input {
  position: relative;
  padding: 23px;
  border: 1px solid #000;
  font-size: 1rem;
  font-weight: 400;
  color: #303030;
}

.request__button {
  padding: 19.5px 20px;
  background: #003adc;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.request__button:hover {
  background: #181940;
}

.request__agreement label {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25;
  color: #303030;
}

.request__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.request__checkbox:checked + label::before {
  background-image: url("../img/icons/checkbox.svg");
}

.request__checkbox:hover + label::before {
  border-color: #0b76ef;
}

.request__checkbox:focus + label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.request__checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.request__checkbox + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.request__checkbox + label::before {
  content: "";
  display: inline-block;
  height: 16px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background: no-repeat 55% 50% / 70% 70%;
}

.education__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 15px 180px;
}

.education__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 50px 180px;
  margin: 0 0 75px 0;
}

@media (max-width: 1600px) {
  .education__cards {
    gap: 70px;
  }
}

.education__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
}

.education__title:not(:last-child) {
  margin: 0 0 34px 0;
}

.education__image {
  position: absolute;
  right: -155px;
  bottom: -200px;
}

.education-item {
  position: relative;
}

.education-item:nth-child(1) .education-item__decor {
  right: 0px;
  top: 70px;
}

.education-item:nth-child(1) .education-item__decor--1 {
  top: 23px;
  left: 0;
}

.education-item:nth-child(1) .education-item__decor--2 {
  top: 48px;
  left: 0;
}

.education-item:nth-child(2) .education-item__decor {
  right: 0px;
  top: 70px;
}

.education-item:nth-child(2) .education-item__decor--1 {
  top: 15px;
  left: 20px;
}

.education-item:nth-child(2) .education-item__decor--2 {
  top: 39px;
  left: -10px;
}

.education-item:nth-child(2) .education-item__decor--3 {
  top: 60px;
  right: 0px;
}

.education-item:nth-child(2) .education-item__decor--4 {
  top: 80px;
  left: 10px;
}

.education-item:nth-child(3) .education-item__decor {
  right: 0px;
  top: 130px;
}

.education-item:nth-child(3) .education-item__decor--1 {
  top: 70px;
  right: 0;
}

.education-item:nth-child(3) .education-item__decor--2 {
  top: 95px;
  right: 0;
}

.education-item:nth-child(4) .education-item__decor {
  right: 0px;
  top: 130px;
}

.education-item:nth-child(4) .education-item__decor--1 {
  top: 73px;
  right: 20px;
}

.education-item__subtitle {
  color: #003adc;
  font-size: 2rem;
  line-height: 1.625;
  font-weight: 700;
  text-transform: uppercase;
}

.education-item__title {
  font-size: 3.125rem;
  font-weight: 800;
  line-height: 1.62;
  position: relative;
  z-index: 10;
}

.education-item__title:not(:last-child) {
  margin: 0 0 25px 0;
}

.education-item__text {
  font-weight: 400;
  line-height: 1.6;
  position: relative;
  z-index: 10;
}

.education-item__decor {
  font-size: 13.9375rem;
  color: #ffd5ad;
  position: absolute;
  line-height: 0.75;
}

.education-item__decor--1, .education-item__decor--2, .education-item__decor--3, .education-item__decor--4 {
  position: absolute;
  width: 90px;
  height: 3px;
  background: #fff;
  -webkit-transform: matrix(-0.94, 0.33, 0.33, 0.94, 0, 0);
          transform: matrix(-0.94, 0.33, 0.33, 0.94, 0, 0);
}

.advantage {
  background: #eff2f9;
}

.advantage__container {
  position: relative;
  padding: 120px 0 170px;
}

.advantage__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1240px;
  margin: 0 auto;
}

.advantage__title {
  margin: 0 0 57px 0;
}

.advantage__cards {
  margin: -4px -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.advantage__cards:not(:last-child) {
  margin: 0 0 76px 0;
}

.advantage__item-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 4px 4px;
}

.advantage__image {
  position: absolute;
  left: -50px;
  bottom: -115px;
}

.advantage--bg-white {
  background: #fff;
}

.advantage-item {
  padding: 18px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  height: 100%;
  -webkit-box-shadow: 10px 8px 40px #c0c0c04d;
          box-shadow: 10px 8px 40px #c0c0c04d;
}

.advantage-item__icon {
  margin: 0 32px 0 0;
}

.advantage-item__text {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 600;
}

.job-offers {
  color: #181940;
}

.job-offers__container {
  position: relative;
  padding: 140px 20px 130px;
}

.job-offers__title {
  margin: 0 0 60px 0;
}

.job-offers__columns-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 27px;
}

.job-offers__column:hover .job-offers__column-title {
  background: #714a25;
}

.job-offers__column-title {
  padding: 30px 20px;
  text-transform: uppercase;
  color: #fff;
  background: #181940;
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 800;
  letter-spacing: 0.15em;
  text-align: center;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.job-offers__column-title:not(:last-child) {
  margin: 0 0 40px 0;
}

.job-offers__vacancy:not(:last-child) {
  margin: 0 0 35px 0;
}

.job-offers__image {
  position: absolute;
  right: -50px;
  bottom: -320px;
}

.vacancy__title, .vacancy__price {
  display: block;
  line-height: 1.6;
  font-size: 1.5rem;
  line-height: 160%;
}

.vacancy__title:not(:last-child) {
  margin: 0 0 6px 0;
}

.vacancy__price {
  font-size: 1.25rem;
  color: #714a25;
}

.diplomas {
  background: #eff2f9;
  padding: 130px 0;
}

.diplomas__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.diplomas__inner {
  max-width: 620px;
}

.diplomas__inner:not(:last-child) {
  margin: 0 40px 0 0;
}

.diplomas__title {
  max-width: 430px;
  text-align: left;
}

.diplomas__title:not(:last-child) {
  margin: 0 0 60px 0;
}

.diplomas__subtitle {
  font-weight: 700;
  font-size: 2rem;
}

.diplomas__subtitle:not(:last-child) {
  margin: 0 0 44px 0;
}

.diplomas__text {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.44;
}

.diplomas__scans {
  margin: 12px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 70px 16px;
  justify-items: center;
}

.diplomas__diploma {
  position: relative;
  padding: 0 20px 22px;
  background: #fff;
}

.diplomas__img {
  margin: -12px 0 0 0;
}

.teachers {
  padding: 130px 0;
  background: #eff2f9;
}

.teachers__container {
  max-width: 1410px;
}

.teachers__title:not(:last-child) {
  margin: 0 0 57px 0;
}

.teachers__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(346px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(346px, 1fr));
  gap: 70px 26px;
}

.teachers__img {
  width: 100%;
}

.teachers__img:not(:last-child) {
  margin: 0 0 64px 0;
}

.teachers__name {
  font-size: 1.5rem;
  line-height: 1.08;
}

.teachers__name:not(:last-child) {
  margin: 0 0 20px 0;
}

.teachers__text {
  max-width: 400px;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #181940;
}

.partners {
  padding: 150px 0 140px;
}

.partners__title:not(:last-child) {
  margin: 0 0 100px 0;
}

.partners__grid {
  margin: 0 auto;
  max-width: 1300px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: (minmax(264px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  gap: 66px 42px;
}

.partners__item:nth-child(9) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

@media (max-width: 1221px) {
  .partners__item:nth-child(9) {
    grid-column: span 1;
  }
}

.student-life {
  padding: 0 0 130px 0;
}

.student-life__container {
  max-width: 1410px;
}

.student-life__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.student-life__photo {
  padding: 0 0 50% 0;
  overflow: hidden;
}

.student-life__photo--big {
  grid-column: span 2;
  grid-row: span 2;
}

.student-life__photo--decor, .student-life__photo--decor-2 {
  display: block;
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: 2;
  top: -280px;
  left: -75px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  background: rgba(24, 25, 64, 0.7);
  border-radius: 50%;
}

.student-life__photo--decor-2 {
  background: #714a2583;
  left: -155px;
}

.student-life__title {
  position: relative;
  z-index: 3;
  color: #fff;
  top: 48px;
  left: 48px;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.17;
  text-transform: uppercase;
}

.student-life__title span {
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.answers {
  padding: 130px 0 300px 0;
  background: #eff2f9;
}

.answers__container {
  max-width: 1410px;
}

.answers__title:not(:last-child) {
  margin: 0 0 144px 0;
}

.questions__item {
  background: #fff;
  padding: 40px;
}

.questions__item:not(:last-child) {
  margin: 0 0 12px 0;
}

.questions__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  background: #fff;
  position: relative;
  width: 100%;
  text-align: left;
}

.questions__title span {
  display: block;
  margin: 0 47px 0 0;
}

.questions__title::before, .questions__title::after {
  content: "";
  width: 32px;
  height: 3px;
  background: #000;
  position: absolute;
  right: 0;
  top: 16px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.questions__title::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.questions__title.active::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.questions__text {
  max-width: 810px;
  margin: 40px 0 0 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: none;
}

.questions__text.active {
  display: block;
}

.contacts {
  padding: 130px 0 173px 0;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1150px;
  padding: 0 10px;
}

.contacts__commission:not(:last-child) {
  margin: 0 40px 0 0;
}

.contacts__title {
  text-align: left;
}

.contacts__title:not(:last-child) {
  margin: 0 0 60px 0;
}

.contacts__subtitle {
  font-weight: 700;
  font-size: 1.875rem;
}

.contacts__subtitle:not(:last-child) {
  margin: 0 0 15px 0;
}

.contacts__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.contacts__text:not(:last-child) {
  margin: 0 0 27px 0;
}

.contacts__link {
  color: #fff;
}

.contacts__map {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 67.57%;
          flex: 0 1 67.57%;
  padding: 0 0 41% 0;
}

.buildings {
  padding: 0 0 137px 0;
}

.buildings__container {
  max-width: 1410px;
  padding: 0 10px;
}

.buildings__title:not(:last-child) {
  margin: 0 0 60px 0;
}

.buildings__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px 40px;
}

.buildings__map {
  padding: 0 0 60% 0;
}

.buildings__map:not(:last-child) {
  margin: 0 0 40px 0;
}

.buildings__text {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.footer {
  background: #eff2f9;
  padding: 50px 0 45px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo svg {
  width: 170px;
  height: 30px;
}

.footer__logo:not(:last-child) {
  margin: 0 20px 0 0;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__info:not(:last-child) {
  margin: 0 20px 0 0;
}

.footer__info-item {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

.footer__info-item span {
  font-weight: 700;
}

.footer__info-item:not(:last-child) {
  margin: 0 37px 0 0;
}

@media (max-width: 1760px) {
  .hero__image {
    right: 15px;
    opacity: 0.2;
  }
  .education__image {
    z-index: -1;
    opacity: 0.2;
  }
  .job-offers__image {
    right: 0;
  }
}

@media (max-width: 1600px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .footer__logo:not(:last-child) {
    margin: 0 0 20px 0;
  }
  .footer__info:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 1185px) {
  .diplomas__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .diplomas__inner:not(:last-child) {
    margin: 0 0 50px 0;
  }
}

@media (max-width: 1130px) {
  .education__container {
    padding: 50px 15px 100px;
  }
  .diplomas {
    padding: 50px 0;
  }
  .advantage__container {
    padding: 50px 0;
  }
  .advantage__item-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .advantage__image {
    display: none;
  }
  .advantage-item__text br {
    display: none;
  }
  .job-offers__container {
    padding: 50px 20px 130px;
  }
  .job-offers__columns-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 90px;
  }
  .teachers {
    padding: 50px 0;
  }
  .partners {
    padding: 50px 0 50px 0;
  }
  .student-life {
    padding: 0 0 50px 0;
  }
  .student-life__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .student-life__photo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .student-life__photo--big:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .answers {
    padding: 50px 0 220px 0;
  }
  .answers__title:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .contacts {
    padding: 50px 0;
    text-align: center;
  }
  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .contacts__commission:not(:last-child) {
    margin: 0 0 50px 0;
  }
  .contacts__map {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 0 50% 0;
  }
  .contacts__title {
    text-align: center;
  }
  .contacts__title:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .buildings {
    padding: 0 0 50px 0;
  }
}

@media (max-width: 856px) {
  .header__logo {
    margin: 0 0 25px 0;
  }
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .header-logo {
    width: 100%;
  }
  .hero {
    margin: 0 0 40px 0;
    padding: 220px 0 150px 0;
  }
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__desc-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 600;
  }
  .hero__desc-list:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .hero__title {
    font-size: 4.75rem;
    text-align: center;
  }
  .hero__title:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .hero__subtitle {
    font-weight: 600;
    text-align: center;
  }
  .hero__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: -12px;
  }
  .hero__list-item {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .request__input-box {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .request__input-box input:nth-child(3), .request__input-box input:nth-child(4) {
    grid-column: span 2;
  }
  .request__title {
    text-align: center;
  }
  .request__form {
    position: relative;
    padding: 25px 80px 25px;
  }
  .education__container {
    padding: 50px 15px 50px;
  }
  .education__title:not(:last-child) {
    margin: 0 0 50px 0;
  }
  .education__cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .education__item:nth-child(1) .education-item__decor, .education__item:nth-child(2) .education-item__decor {
    top: 80px;
    opacity: 0.4;
  }
  .education__item:nth-child(3) .education-item__decor, .education__item:nth-child(4) .education-item__decor {
    top: 90px;
    opacity: 0.4;
  }
  .education__image {
    display: none;
  }
  .job-offers__image {
    opacity: 0.2;
  }
  .teachers__title span {
    display: none;
  }
  .teachers__title::before {
    content: "Наши";
    display: block;
    color: #181940;
  }
  .student-life__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .student-life__photo--big {
    grid-column: span 1;
  }
  .footer__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 2.75rem;
  }
  .whatsapp__button:not(:last-child) {
    margin: 0 10px 0 0;
  }
  .advantage__cards {
    display: -ms-grid;
    display: grid;
    grid-auto-rows: 1fr;
    margin: -4px -4px;
  }
  .advantage__item-wrapper {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .advantage__item {
    padding: 18px 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .advantage-item__icon {
    margin: 0 0 10px 0;
  }
  .advantage-item__text {
    text-align: center;
  }
  .job-offers__columns-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .job-offers__image {
    display: none;
  }
  .diplomas {
    padding: 50px 0;
    text-align: center;
  }
  .diplomas__title {
    text-align: center;
    max-width: none;
  }
  .diplomas__scans {
    -ms-grid-columns: (minmax(165px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  }
  .teachers__img:not(:last-child) {
    margin: 0 0 30px 0;
  }
  .student-life__title {
    top: 20px;
    left: 20px;
  }
  .student-life__photo--decor {
    top: -360px;
    left: -120px;
  }
}

@media (max-width: 456px) {
  .title {
    text-align: center;
  }
  .whatsapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .whatsapp__button:not(:last-child) {
    margin: 0 0 25px 0;
  }
  .whatsapp__link {
    font-size: 2.125rem;
  }
  .footer__whatsapp {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .hero {
    padding: 280px 0 150px;
  }
  .hero__desc-list {
    font-size: 1.5rem;
  }
  .hero__title {
    font-size: 3.5rem;
  }
  .hero__list-item {
    font-size: 1.5rem;
  }
  .hero__image {
    opacity: 0.1;
  }
  .request__input-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .request__input-box input:nth-child(3), .request__input-box input:nth-child(4) {
    grid-column: span 1;
  }
  .advantage__link {
    padding: 20px 15px;
  }
  .education__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .education-item {
    text-align: center;
  }
  .education-item__title {
    font-size: 2.625rem;
  }
  .education-item:nth-child(1) .education-item__decor, .education-item:nth-child(2) .education-item__decor, .education-item:nth-child(3) .education-item__decor, .education-item:nth-child(4) .education-item__decor {
    top: 120px;
    opacity: 0.4;
  }
  .teachers__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .student-life__photo--decor, .student-life__photo--decor-2 {
    display: none;
  }
  .student-life__title {
    font-size: 1.75rem;
    text-align: center;
    left: 0;
  }
  .student-life__title br:nth-child(2) {
    display: none;
  }
  .student-life__title span {
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: none;
  }
  .answers__container {
    padding: 0;
  }
  .questions__item {
    padding: 30px 15px;
  }
  .questions__title {
    font-size: 1.5625rem;
  }
  .questions__title::before, .questions__title::after {
    width: 20px;
    height: 2.5px;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .contacts__container {
    margin: 0;
  }
  .contacts__button:not(:last-child) {
    margin: 0 0 25px 0;
  }
  .contacts__link {
    font-size: 2.125rem;
  }
  .contacts__link span {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */