@import "_nullstyle";

@function prc($pxOne, $pxTwo) {
	$result: ($pxOne / $pxTwo) * 100%;
	@return $result;
}
@function rem($px) {
	$result: ($px / 16) + rem;
	@return $result;
}
@function em($px) {
	$result: ($px / 16) + em;
	@return $result;
}

@font-face {
	font-family: "Gilroy";
	font-display: swap;
	src: url(../fonts/Gilroy-Light.woff2), url(../fonts/Gilroy-Light.woff);
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	font-display: swap;
	src: url(../fonts/Gilroy-Regular.woff2), url(../fonts/Gilroy-Regular.woff);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	font-display: swap;
	src: url(../fonts/Gilroy-Medium.woff2), url(../fonts/Gilroy-Medium.woff);
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	font-display: swap;
	src: url(../fonts/Gilroy-Semibold.woff2), url(../fonts/Gilroy-Semibold.woff);
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	font-display: swap;
	src: url(../fonts/Gilroy-Bold.woff2), url(../fonts/Gilroy-Bold.woff);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	font-display: swap;
	src: url(../fonts/Gilroy-Extrabold.woff2), url(../fonts/Gilroy-Extrabold.woff);
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	font-display: swap;
	src: url(../fonts/Gilroy-Black.woff2), url(../fonts/Gilroy-Black.woff);
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova";
	font-display: swap;
	src: url(../fonts/ProximaNova-Bold.woff2), url(../fonts/ProximaNova-Bold.woff);
	font-weight: 700;
	font-style: normal;
}

$color-blue: #003adc;
$color-main: #181940;
$color-second: #714a25;
$bg-color: #eff2f9;

body {
	font-family: "Gilroy", sans-serif;
	font-weight: 800;
	font-size: rem(24);
}

.--container {
	max-width: 1600px;
	padding: 0 20px;
	margin: 0 auto;
}

.--ibg {
	position: relative;
	img {
		content: "";
		position: absolute;
		display: block;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

.title {
	font-size: rem(60);
	font-weight: 800;
	line-height: 1.15;
	color: $color-second;
	text-align: center;
	span {
		color: $color-main;
	}
}

.link {
	display: inline-block;
	background: $color-blue;
	color: #fff;
	font-weight: 700;
	font-size: rem(20);
	line-height: 1.5;
	padding: 20px 30px;
	transition: 0.3s ease-out;
	&:hover {
		background: $color-main;
		transition: 0.3s ease-out;
	}
}

// ! HEADER ========================================

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px 0;
	z-index: 10;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.whatsapp {
	&__button {
		display: inline-block;
		background: url(../img/icons/whatsapp-logo.svg) no-repeat 24px center, $color-blue;
		color: #fff;
		font-size: rem(20);
		font-weight: 500;
		padding: 17.5px 24px 17.5px 70px;
		transition: all 0.3s ease-out;
		&:not(:last-child) {
			margin: 0 22px 0 0;
		}
		&:hover {
			background: url(../img/icons/whatsapp-logo.svg) no-repeat 24px center, $color-main;
		}
	}
	&__link {
		color: #333;
		font-size: rem(20);
		font-weight: 600;
	}
}

// ! MAIN ========================================

.hero {
	padding: 160px 0 240px 0;
	background: $bg-color;
	&__container {
		position: relative;
	}
	&__desc-list {
		display: flex;
		flex-flow: wrap;
		line-height: 1.2;
		&:not(:last-child) {
			margin: 0 0 42px 0;
		}
		li {
			position: relative;
			&:not(:last-child) {
				margin: 0 20px 0 0;
			}
			&:not(:last-child)::after {
				content: "|";
				font-weight: 400;
				position: absolute;
				top: 0;
				right: -10px;
			}
		}
	}
	&__title {
		position: relative;
		z-index: 2;
		font-size: rem(115);
		font-weight: 900;
		color: $color-second;
		span {
			color: $color-blue;
		}
		&:not(:last-child) {
			margin: 0 0 70px 0;
		}
	}
	&__subtitle {
		position: relative;
		z-index: 2;
		font-size: rem(27);
		font-weight: 800;
		line-height: 1.2;
		&:not(:last-child) {
			margin: 0 0 27px 0;
		}
	}
	&__list {
		position: relative;
		z-index: 2;
		display: flex;
		flex-flow: wrap;
		max-width: 885px;
	}
	&__list-item {
		text-align: center;
		padding: 5px 14px;
		font-size: rem(27);
		font-weight: 400;
		line-height: 1.2;
		background: #d8e0f7;
		border-radius: 10px;
		margin: 0 12px 12px 0;
	}
	&__image {
		position: absolute;
		right: -60px;
		top: 90px;
	}
}

// ! REQUEST =====================================

.request {
	&__title {
		font-size: rem(32);
		line-height: 1.25;
		font-weight: 700;
		&:not(:last-child) {
			margin: 0 0 27px 0;
		}
	}
	&__form {
		padding: 80px 80px;
		margin: -155px -80px 0 -80px;
		background: #fff;
		box-shadow: 0 100px 200px rgba(0, 0, 0, 0.1);
	}
	&__input-box {
		display: grid;
		grid-template-columns: repeat(3, 1fr) minmax(150px, 422px);
		align-items: center;
		gap: 16px;
		&:not(:last-child) {
			margin: 0 0 20px 0;
		}
	}
	&__input {
		position: relative;
		padding: 23px;
		border: 1px solid #000;
		font-size: rem(16);
		font-weight: 400;
		color: #303030;
	}
	&__button {
		padding: 19.5px 20px;
		background: $color-blue;
		color: #fff;
		font-weight: 700;
		font-size: 20px;
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;
		transition: all 0.3s ease-out;
		&:hover {
			background: $color-main;
		}
	}
	&__agreement {
		label {
			font-weight: 400;
			font-size: rem(12);
			line-height: 1.25;
			color: #303030;
		}
	}
	&__checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
		&:checked + label::before {
			background-image: url("../img/icons/checkbox.svg");
		}
		&:hover + label::before {
			border-color: #0b76ef;
		}
		&:focus + label::before {
			box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
		}
		&:not(:disabled):active + label::before {
			background-color: #b3d7ff;
			border-color: #b3d7ff;
		}
	}
	&__checkbox + label {
		display: flex;
		align-items: center;
		user-select: none;
		&::before {
			content: "";
			display: inline-block;
			height: 16px;
			flex: 0 0 16px;
			border: 1px solid #adb5bd;
			border-radius: 0.25em;
			margin-right: 0.5em;
			background: no-repeat 55% 50% / 70% 70%;
		}
	}
}

// ! EDUCATION ==================================

.education {
	&__container {
		position: relative;
		display: flex;
		flex-flow: column;
		align-items: center;
		padding: 80px 15px 180px;
	}
	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 50px 180px;
		margin: 0 0 75px 0;
		@media (max-width: 1600px) {
			gap: 70px;
		}
	}
	&__title {
		align-self: flex-start;
		text-align: left;
		&:not(:last-child) {
			margin: 0 0 34px 0;
		}
	}
	&__image {
		position: absolute;
		right: -155px;
		bottom: -200px;
	}
}

.education-item {
	position: relative;
	&:nth-child(1) {
		.education-item__decor {
			right: 0px;
			top: 70px;
			&--1 {
				top: 23px;
				left: 0;
			}
			&--2 {
				top: 48px;
				left: 0;
			}
		}
	}
	&:nth-child(2) {
		.education-item__decor {
			right: 0px;
			top: 70px;
			&--1 {
				top: 15px;
				left: 20px;
			}
			&--2 {
				top: 39px;
				left: -10px;
			}
			&--3 {
				top: 60px;
				right: 0px;
			}
			&--4 {
				top: 80px;
				left: 10px;
			}
		}
	}
	&:nth-child(3) {
		.education-item__decor {
			right: 0px;
			top: 130px;
			&--1 {
				top: 70px;
				right: 0;
			}
			&--2 {
				top: 95px;
				right: 0;
			}
		}
	}
	&:nth-child(4) {
		.education-item__decor {
			right: 0px;
			top: 130px;
			&--1 {
				top: 73px;
				right: 20px;
			}
		}
	}
	&__subtitle {
		color: $color-blue;
		font-size: rem(32);
		line-height: 1.625;
		font-weight: 700;
		text-transform: uppercase;
	}
	&__title {
		font-size: rem(50);
		font-weight: 800;
		line-height: 1.62;
		position: relative;
		z-index: 10;
		&:not(:last-child) {
			margin: 0 0 25px 0;
		}
	}
	&__text {
		font-weight: 400;
		line-height: 1.6;
		position: relative;
		z-index: 10;
	}
	&__decor {
		font-size: rem(223);
		color: #ffd5ad;
		position: absolute;
		line-height: 0.75;
		&--1,
		&--2,
		&--3,
		&--4 {
			position: absolute;
			width: 90px;
			height: 3px;
			background: #fff;
			transform: matrix(-0.94, 0.33, 0.33, 0.94, 0, 0);
		}
	}
}

// ! ADVANTAGE ===================================

.advantage {
	background: #eff2f9;
	&__container {
		position: relative;
		padding: 120px 0 170px;
	}
	&__wrapper {
		display: flex;
		flex-flow: column;
		align-items: center;
		max-width: 1240px;
		margin: 0 auto;
	}
	&__title {
		margin: 0 0 57px 0;
	}
	&__cards {
		margin: -4px -4px;
		display: flex;
		flex-flow: wrap;
		&:not(:last-child) {
			margin: 0 0 76px 0;
		}
	}
	&__item-wrapper {
		flex: 0 1 50%;
		padding: 4px 4px;
	}
	&__image {
		position: absolute;
		left: -50px;
		bottom: -115px;
	}
	&--bg-white {
		background: #fff;
	}
}

.advantage-item {
	padding: 18px 32px;
	display: flex;
	align-items: center;
	background: #fff;
	height: 100%;
	box-shadow: 10px 8px 40px #c0c0c04d;
	&__icon {
		margin: 0 32px 0 0;
	}
	&__text {
		font-size: rem(20);
		line-height: 1.6;
		font-weight: 600;
	}
}

// ! JOB-OFFERS ==================================

.job-offers {
	color: $color-main;
	&__container {
		position: relative;
		padding: 140px 20px 130px;
	}
	&__title {
		margin: 0 0 60px 0;
	}
	&__columns-wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 27px;
	}
	&__column {
		&:hover .job-offers__column-title {
			background: $color-second;
		}
	}
	&__column-title {
		padding: 30px 20px;
		text-transform: uppercase;
		color: #fff;
		background: $color-main;
		font-size: rem(20);
		line-height: 1.6;
		font-weight: 800;
		letter-spacing: 0.15em;
		text-align: center;
		transition: 0.3s ease-out;
		&:not(:last-child) {
			margin: 0 0 40px 0;
		}
	}
	&__vacancy {
		&:not(:last-child) {
			margin: 0 0 35px 0;
		}
	}
	&__image {
		position: absolute;
		right: -50px;
		bottom: -320px;
	}
}

.vacancy {
	&__title,
	&__price {
		display: block;
		line-height: 1.6;
		font-size: rem(24);
		line-height: 160%;
	}
	&__title {
		&:not(:last-child) {
			margin: 0 0 6px 0;
		}
	}
	&__price {
		font-size: rem(20);
		color: $color-second;
	}
}
// ! DIPLOMAS ====================================

.diplomas {
	background: #eff2f9;
	padding: 130px 0;
	&__container {
		display: flex;
	}
	&__inner {
		max-width: 620px;
		&:not(:last-child) {
			margin: 0 40px 0 0;
		}
	}
	&__title {
		max-width: 430px;
		text-align: left;
		&:not(:last-child) {
			margin: 0 0 60px 0;
		}
	}
	&__subtitle {
		font-weight: 700;
		font-size: rem(32);
		&:not(:last-child) {
			margin: 0 0 44px 0;
		}
	}
	&__text {
		font-weight: 500;
		font-size: rem(24);
		line-height: 1.44;
	}
	&__scans {
		margin: 12px 0 0 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 70px 16px;
		justify-items: center;
	}
	&__diploma {
		position: relative;
		padding: 0 20px 22px;
		background: #fff;
	}
	&__img {
		margin: -12px 0 0 0;
	}
}

// ! TEACHERS ====================================

.teachers {
	padding: 130px 0;
	background: #eff2f9;
	&__container {
		max-width: 1410px;
	}
	&__title {
		&:not(:last-child) {
			margin: 0 0 57px 0;
		}
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(346px, 1fr));
		gap: 70px 26px;
	}
	&__item {
	}
	&__img {
		width: 100%;
		&:not(:last-child) {
			margin: 0 0 64px 0;
		}
	}
	&__name {
		font-size: rem(24);
		line-height: 1.08;
		&:not(:last-child) {
			margin: 0 0 20px 0;
		}
	}
	&__text {
		max-width: 400px;
		font-weight: 600;
		font-size: rem(20);
		line-height: 1.5;
		color: #181940;
	}
}

// ! PARTNERS ====================================

.partners {
	padding: 150px 0 140px;
	&__title {
		&:not(:last-child) {
			margin: 0 0 100px 0;
		}
	}
	&__grid {
		margin: 0 auto;
		max-width: 1300px;
		display: grid;
		align-items: center;
		justify-items: center;
		grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
		gap: 66px 42px;
	}
	&__item {
		&:nth-child(9) {
			grid-column: 2 / 3;
			@media (max-width: 1221px) {
				grid-column: span 1;
			}
		}
	}
}

// ! STUDENT-LIFE ================================

.student-life {
	padding: 0 0 130px 0;
	&__container {
		max-width: 1410px;
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 15px;
	}
	&__photo {
		padding: 0 0 50% 0;
		overflow: hidden;
		&--big {
			grid-column: span 2;
			grid-row: span 2;
		}
		&--decor,
		&--decor-2 {
			display: block;
			position: absolute;
			width: 500px;
			height: 500px;
			z-index: 2;
			top: -280px;
			left: -75px;
			transform: matrix(-1, 0, 0, 1, 0, 0);
			background: rgba(24, 25, 64, 0.7);
			border-radius: 50%;
		}
		&--decor-2 {
			background: #714a2583;
			left: -155px;
		}
	}
	&__title {
		position: relative;
		z-index: 3;
		color: #fff;
		top: 48px;
		left: 48px;
		font-weight: 900;
		font-size: rem(36);
		line-height: 1.17;
		text-transform: uppercase;
		span {
			font-weight: 800;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 1px #fff;
		}
	}
}

// ! ANSWERS =====================================

.answers {
	padding: 130px 0 300px 0;
	background: #eff2f9;
	&__container {
		max-width: 1410px;
	}
	&__title {
		&:not(:last-child) {
			margin: 0 0 144px 0;
		}
	}
}

.questions {
	&__item {
		background: #fff;
		padding: 40px;
		&:not(:last-child) {
			margin: 0 0 12px 0;
		}
		&.active .questions__text {
			display: block;
		}
	}
	&__title {
		font-weight: 700;
		font-size: rem(32);
		line-height: 1.25;
		background: #fff;
		position: relative;
		width: 100%;
		text-align: left;
		span {
			display: block;
			margin: 0 47px 0 0;
		}
		&::before,
		&::after {
			content: "";
			width: 32px;
			height: 3px;
			background: #000;
			position: absolute;
			right: 0;
			top: 16px;
			transition: 0.2s ease-out;
		}
		&::after {
			transform: rotate(90deg);
		}
		&.active::after {
			transform: rotate(0deg);
		}
	}
	&__text {
		max-width: 810px;
		margin: 40px 0 0 0;
		font-weight: 600;
		font-size: rem(20);
		line-height: 1.5;
		transition: 0.3s;
		display: none;
	}
}

// ! CONTACTS ====================================

.contacts {
	padding: 130px 0 173px 0;
	&__container {
		display: flex;
		justify-content: space-between;
		flex-flow: wrap;
		align-items: center;
		max-width: 1150px;
	}
	&__commission {
		&:not(:last-child) {
			margin: 0 40px 0 0;
		}
	}
	&__title {
		text-align: left;
		&:not(:last-child) {
			margin: 0 0 60px 0;
		}
	}
	&__subtitle {
		font-weight: 700;
		font-size: rem(30);
		&:not(:last-child) {
			margin: 0 0 15px 0;
		}
	}
	&__text {
		font-weight: 400;
		font-size: rem(16);
		line-height: 1.5;
		&:not(:last-child) {
			margin: 0 0 27px 0;
		}
	}
	&__link {
		color: #fff;
	}
	&__map {
		flex: 0 1 67.57%;
		padding: 0 0 41% 0;
	}
}

// ! MEDIA =======================================

@media (max-width: 1760px) {
	.hero {
		&__image {
			right: 15px;
			opacity: 0.2;
		}
	}

	.education {
		&__image {
			z-index: -1;
			opacity: 0.2;
		}
	}

	.job-offers {
		&__image {
			right: 0;
		}
	}
}

@media (max-width: 1185px) {
	.diplomas {
		&__container {
			flex-flow: column;
		}
		&__inner {
			&:not(:last-child) {
				margin: 0 0 50px 0;
			}
		}
	}
}

@media (max-width: 1130px) {
	.education {
		&__container {
			padding: 50px 15px 100px;
		}
	}
	.diplomas {
		padding: 50px 0;
	}

	.advantage {
		&__container {
			padding: 50px 0;
		}
		&__item-wrapper {
			flex: 0 1 100%;
		}
		&__image {
			display: none;
		}
	}

	.advantage-item {
		&__text {
			br {
				display: none;
			}
		}
	}

	.job-offers {
		&__container {
			padding: 50px 20px 130px;
		}
		&__columns-wrapper {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 90px;
		}
	}

	.teachers {
		padding: 50px 0;
	}

	.partners {
		padding: 50px 0 50px 0;
	}

	.student-life {
		padding: 0 0 50px 0;
		&__grid {
			grid-template-columns: repeat(2, 1fr);
		}
		&__photo {
			order: 2;
			&--big:nth-child(3) {
				order: 1;
			}
		}
	}

	.answers {
		padding: 50px 0 220px 0;
		&__title {
			&:not(:last-child) {
				margin: 0 0 30px 0;
			}
		}
	}

	.contacts {
		padding: 50px 0;
		text-align: center;
		&__container {
			flex-flow: column;
			align-items: stretch;
		}
		&__commission {
			&:not(:last-child) {
				margin: 0 0 50px 0;
			}
		}
		&__map {
			flex: 1 1 auto;
			padding: 0 0 50% 0;
		}
		&__title {
			text-align: center;
			&:not(:last-child) {
				margin: 0 0 30px 0;
			}
		}
	}
}

@media (max-width: 856px) {
	.header {
		&__logo {
			margin: 0 0 25px 0;
		}
		&__container {
			flex-flow: column;
		}
	}

	.header-logo {
		width: 100%;
	}

	.hero {
		margin: 0 0 40px 0;
		padding: 220px 0 150px 0;
		&__container {
			display: flex;
			flex-flow: column;
			align-items: center;
		}
		&__desc-list {
			justify-content: center;
			font-weight: 600;
			&:not(:last-child) {
				margin: 0 0 30px 0;
			}
		}
		&__title {
			font-size: rem(76);
			text-align: center;
			&:not(:last-child) {
				margin: 0 0 30px 0;
			}
		}
		&__subtitle {
			font-weight: 600;
			text-align: center;
		}
		&__list {
			justify-content: center;
			margin-right: -12px;
		}
		&__list-item {
			flex: auto;
		}
	}

	.request {
		&__input-box {
			grid-template-columns: repeat(2, 1fr);
			input {
				&:nth-child(3),
				&:nth-child(4) {
					grid-column: span 2;
				}
			}
		}
		&__title {
			text-align: center;
		}
		&__form {
			position: relative;
			padding: 25px 80px 25px;
		}
	}

	.education {
		&__container {
			padding: 50px 15px 50px;
		}
		&__title {
			&:not(:last-child) {
				margin: 0 0 50px 0;
			}
		}
		&__cards {
			grid-template-columns: 1fr;
		}
		&__item {
			&:nth-child(1),
			&:nth-child(2) {
				.education-item__decor {
					top: 80px;
					opacity: 0.4;
				}
			}
			&:nth-child(3),
			&:nth-child(4) {
				.education-item__decor {
					top: 90px;
					opacity: 0.4;
				}
			}
		}
		&__image {
			display: none;
		}
	}

	.job-offers {
		&__image {
			opacity: 0.2;
		}
	}

	.teachers {
		&__title {
			span {
				display: none;
			}
			&::before {
				content: "Наши";
				display: block;
				color: $color-main;
			}
		}
	}

	.student-life {
		&__grid {
			grid-template-columns: 1fr;
		}
		&__photo {
			&--big {
				grid-column: span 1;
			}
		}
	}
}

@media (max-width: 600px) {
	.title {
		font-size: rem(44);
	}

	.advantage {
		&__cards {
			display: grid;
			grid-auto-rows: 1fr;
			margin: -4px -4px;
		}
		&__item-wrapper {
			grid-column: 2 / 3;
		}
		&__item {
			padding: 18px 25px;
			flex-flow: column;
		}
	}

	.advantage-item {
		&__icon {
			margin: 0 0 10px 0;
		}
		&__text {
			text-align: center;
		}
	}

	.job-offers {
		&__columns-wrapper {
			grid-template-columns: 1fr;
		}
		&__image {
			display: none;
		}
	}

	.diplomas {
		padding: 50px 0;
		text-align: center;
		&__title {
			text-align: center;
			max-width: none;
		}
		&__scans {
			grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
		}
	}

	.teachers {
		&__img {
			&:not(:last-child) {
				margin: 0 0 30px 0;
			}
		}
	}

	.student-life {
		&__title {
			top: 20px;
			left: 20px;
		}
		&__photo {
			&--decor {
				top: -360px;
				left: -120px;
			}
		}
	}
}

@media (max-width: 456px) {
	.title {
		text-align: center;
	}

	.hero {
		padding: 280px 0 150px;
		&__desc-list {
			font-size: rem(24);
		}
		&__title {
			font-size: rem(56);
		}
		&__list-item {
			font-size: rem(24);
		}
		&__image {
			opacity: 0.1;
		}
	}

	.request {
		&__input-box {
			grid-template-columns: 1fr;
			input {
				&:nth-child(3),
				&:nth-child(4) {
					grid-column: span 1;
				}
			}
		}
	}

	.advantage {
		&__link {
			padding: 20px 15px;
		}
	}

	.education {
		&__title {
			align-self: center;
		}
	}

	.education-item {
		text-align: center;
		&__title {
			font-size: rem(42);
		}
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			.education-item__decor {
				top: 120px;
				opacity: 0.4;
			}
		}
	}

	.teachers {
		&__grid {
			grid-template-columns: 1fr;
		}
	}

	.student-life {
		&__photo {
			&--decor,
			&--decor-2 {
				display: none;
			}
		}
		&__title {
			font-size: rem(28);
			text-align: center;
			left: 0;
			br:nth-child(2) {
				display: none;
			}
			span {
				-webkit-text-fill-color: #fff;
				-webkit-text-stroke: none;
			}
		}
	}

	.answers {
		&__container {
			padding: 0;
		}
	}

	.questions {
		&__item {
			padding: 30px 15px;
		}
		&__title {
			font-size: rem(25);
			&::before,
			&::after {
				width: 20px;
				height: 2.5px;
			}
		}
	}

	.contacts {
		display: flex;
		flex-flow: column;
		&__container {
			margin: 0;
		}
		&__button {
			&:not(:last-child) {
				margin: 0 0 25px 0;
			}
		}
		&__link {
			font-size: rem(34);
			span {
				display: none;
			}
		}
	}
}
